Source: haskell-hsh
Priority: optional
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Uploaders: John Goerzen <jgoerzen@complete.org>
Build-Depends: debhelper (>= 5.0.0),
 cdbs,
 haddock,
 hscolour,
 haskell-devscripts (>= 0.7.3),
 ghc6 (>= 6.12),
 libghc6-mtl-dev,
 libghc6-missingh-dev (>= 1.1.0.1-1),
 libghc6-hslogger-dev (>= 1.0.8-2),
 libghc6-utf8-string-dev
Standards-Version: 3.8.3
Section: haskell
Homepage: http://software.complete.org/hsh
Vcs-Git: git://git.debian.org/git/pkg-haskell/haskell-hsh.git
Vcs-Browser: http://git.debian.org/?p=pkg-haskell/haskell-hsh.git;a=summary

Package: libghc6-hsh-dev
Section: haskell
Architecture: any
Depends: ${misc:Depends}, ${haskell:Depends}, ${shlibs:Depends}
Description: Library to mix shell scripting with Haskell programs
 HSH is designed to let you mix and match shell expressions with
 Haskell programs. With HSH, it is possible to easily run shell
 commands, capture their output or provide their input, and pipe them
 to/from other shell commands and arbitrary Haskell functions at will.
